<h1>New Party Form</h1>

<%= form_with(model: @party) do |f| %>
    <%= f.label :name%>
    <%= f.text_field :name%><br>
    <%= f.label :date%>
    <%= f.datetime_field :date%><br>
    <%= f.label :budget%>
    <%= f.number_field :budget, step: 0.01 %><br>
    <%= f.label :private%>
    <%= f.select :private, ["true", "false"] %><br>
    <%= f.submit %>
<% end %>